.wrapper {
    width: 82vw;
    height: 50vh;
    overflow: auto;
    border: 1px solid gray;
    margin: auto;

    .heads {
        display: flex;
        justify-content: space-around;
        width: 82vw;
        height: 50px;
        .head {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            font-size: large;
            font-weight: bold;
            border-bottom: 1px solid gray;
            width: 82vw;
        }
    }
    .content {
        height: calc(100% - 50px);
        overflow: auto;
        width: 82vw;

        .row {
            display: flex;
            justify-content: space-around;
            width: 82vw;
            height: 50px;
            .name,
            .loc,.contact , .slot,
            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                font-size: large;
                
            }
            
        }
    }
}
