.msg{
    display: flex !important;
    justify-content: center !important;
    background-color: #F0F1F4 !important;
    border-radius: 10px !important;
    box-shadow: none !important; 
    height: 60px;
    align-items: center;
    color: gray;
}