.App {
  background: url("/src/assets/images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
}


.custom_scrollBar {
  overflow-y: auto;
}
.custom_scrollBar::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}
.custom_scrollBar::-webkit-scrollbar,
.custom_scrollBar::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}
.custom_scrollBar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.custom_scrollBar:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.no_scrollBar::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}